# Core ML
tensorflow==2.20.0
tf-keras==2.20.1
tensorflow-hub==0.16.1
tensorflow-text==2.20.1
setuptools>=65

# Data Processing
pandas==2.3.3
numpy
scikit-learn==1.6.1

# Visualization
matplotlib==3.10.0

# Kaggle
kagglehub==1.0.0

# Progress Bars
tqdm

# TensorFlow Official Models (AdamWeightDecay, WarmUp)
tf-models-official

# Jupyter Notebook
jupyter
ipykernel
ipywidgets

fastapi